.heading-color {
  color: brown;
}

.heading-link,
.heading-link:hover {
  text-decoration:none;
  color: inherit;
}

.content {
  padding: 20px;
}

.add-form {
  padding: 15px 15px 60px 15px;
}

.item-form-button {
  display: inline-block;
}
