<h2 class="heading-color">Items
  <small>
    {% if category_name %}
      {{category_name+', '}}
    {% else %}
      Latest,
    {% endif %}
    {{ countItems }}
  </small>
  <button type="button" class="btn btn-primary btn-xs add-button">Add Item</button>
</h2>

<div class="add-form well">
    <form method="post" action="{{url_for('addItem',category_name=category_name)}}">
        <div class="button-section">
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-xs save-button">Save</button>
                <button type="reset" class="btn btn-info btn-xs cancel-button">Cancel</button>
            </div>
        </div>
        <div class="input-section">
            <div class="form-group">
                <label>Title:</label>
                <input name="title" type="text" class="form-control" id="title">
            </div>
            <div class="form-group">
                <label>Description:</label>
                <textarea name="description" type="text" class="form-control" rows="5"></textarea>
            </div>
            <div class="form-group">
                <label>Category:</label>
                <select class="form-control" id="select" name="selected_category_name" {% if category_name %}disabled{% endif %}>
                  {% for c in categories %}
                  <option {% if category_name == c.name %}selected{% endif %}>{{c.name}}</option>
                  {% endfor %}
                </select>

            </div>
        </div>

    </form>
</div>

<ul class="list-group">
    {% for i in items %}
    <li class="list-group-item">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9">
                    <h4 class="list-group-item-heading">
                      <a href="{{url_for('showItem',item_id=i.id)}}">{{i.title}}</a>
                    </h4>
                    <p class="list-group-item-text">{{i.description}}</p>
                </div>
                <div class="col-md-3">
                    <a href="{{url_for('editItem',category_name=category_name,item_id=i.id)}}" class="btn btn-warning btn-xs edit-button">edit</a>

                    <form class="item-form-button" method="post" action="{{url_for('removeItem',category_name=category_name,item_id=i.id)}}">
                        <button class="btn btn-danger btn-xs">delete</button>
                    </form>
                </div>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
